<div class="request-block">
  <div class="request-inner">
    <div class="request-info ">
      <div class="cst-head">{{ install_heading }}</div>
      <div class="cst-best">{{ best_screens }}</div>
      <div class="cst-desc">
        <p>{{ product_description }}</p>
      </div>
      <div class="phone">
        <img src="{{ file_url(icon_image) }}" alt="Icon">
        <p>{{ phone_number }}</p>
      </div>
    </div>
    <div class="request-form">
      {{ form }}
    </div>
  </div>
</div>
