<div class="banner-block" style="background-image: url('{{ image_url }}');">
  <div class="banner-text">
    <h1>{{ banner_heading }}</h1>
    <h2>{{ banner_subheading }}</h2>
    <p>{{ banner_description }}</p>
  </div>
  <div class="banner-buttons">
    <a href="{{ button1_link }}" class="btn btn-primary">{{ button1_text }}</a>
    <a href="{{ button2_link }}" class="btn btn-light">{{ button2_text }}</a>
  </div>
</div>
